form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  background-color: rgba(0, 0, 0, 0.336);
  padding: 2.5rem;
  border-radius: 1rem;
  margin-top: 50px;
  font-family: IRANSANS;
}

form h1 {
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
}

form input {
  width: 92%;
  padding: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
}

form button {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  font-family:IRANSANSBold ;
  font-weight: bolder !important;
  color: #fff;
  cursor: pointer;

  /* background: #aa4b6b; 
  background: -webkit-linear-gradient(to left, #3b8d99, #6b6b83, #aa4b6b);  
  background: linear-gradient(to left, #3b8d99, #6b6b83, #aa4b6b);  */

  background: #FC5C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,#FC5C7D , #6A82FB );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#FC5C7D , #6A82FB ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

form select {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
}

.error{
  color: #fff;
  margin: 0px;
  padding: 0px;
}